{% extends 'base.html' %}
{% set active_page = "index" %}
{% block content %}

    <div class="txtbox">
        <p> To download, choose your file format (the PDF is the reference output;
            PDF and SVG are editable with vector-drawing software, others are conversions from the PDF).</p>
        <p style="display: flex; flex-wrap: wrap;">
            <a href="{{ url_for('control.download', filename=message['begname']+'.pdf') }}" class="btn">
                <svg class="btn-icon" aria-hidden="true">
                    <use href="{{ url_for('static', filename='icons.svg') }}#download"></use>
                </svg>
                Download as PDF
            </a>
            <a href="{{ url_for('control.download', filename=message['begname']+'.svg') }}" class="btn">
                <svg class="btn-icon" aria-hidden="true">
                    <use href="{{ url_for('static', filename='icons.svg') }}#download"></use>
                </svg>
                Download as SVG
            </a>
            <a href="{{ url_for('control.download', filename=message['begname']+'-mr.png') }}" class="btn">
                <svg class="btn-icon" aria-hidden="true">
                    <use href="{{ url_for('static', filename='icons.svg') }}#download"></use>
                </svg>
                Download as PNG
            </a>
            <a href="{{ url_for('control.download', filename=message['begname']+'-mr.jpg') }}" class="btn">
                <svg class="btn-icon" aria-hidden="true">
                    <use href="{{ url_for('static', filename='icons.svg') }}#download"></use>
                </svg>
                Download as JPEG
            </a>
        </p>

        {% if message['critical'] %}
            <h3>Severe issue(s)</h3>
                <div class="msg-list" style="margin-bottom: 1em; font-size: 1em;">
                    This ember may contain errors and should not be published without investigating.<br>
                    The detected problem(s) are:
                    {% for aline in message['critical'] %}
                        {{ aline|safe }}
                    {% endfor %}
                </div>
        {% endif %}

        {% if message['warning'] %}
            <h3>Warning message(s)</h3>
                <div class="msg-list" style="margin-bottom: 1em;">
                    Warning messages do not necessarily mean that there is an error, but  you should pay attention:
                    {% for aline in message['warning'] %}
                        {{ aline|safe }}
                    {% endfor %}
                </div>
        {% endif %}

        {% if not (message['error'] or message['warning']) %}
            Everything appears ok (no error or warning message).
        {% endif %}

        <p style="display: flex;">
            <button onclick="logToggle()" class="btn">View / hide log information</button>
            <a href="{{ url_for('sitenav.index')+'?reset' }}" class="btn btn-danger">Restart with a new file</a>
        </p>
    </div>
    <div id="log" class="hidden log txtbox"></div>
    <div class="txtbox">
        <img class="preview" style="width: {{ message['img-width'] }}pt;"
             src="{{ url_for('control.download', filename=message['begname']+'.svg') }}?preview=1&ts={{ message['img-ts'] }}"
             alt="Image could not be produced or retrieved; if you are using Apple Safari, please try reloading the page.">
    </div>
    <script>
        function logToggle() {
            const elog = document.getElementById("log");
            if (elog.classList.contains("hidden")) {
                elog.classList.remove("hidden");
                if (elog.childNodes.length === 0) {
                    const xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState === 4 && this.status === 200) {
                            elog.innerHTML = this.responseText;
                        }
                    };
                    xhttp.open("GET", "{{url_for('control.download', filename='log.html')}}", true);
                    xhttp.send();
                }
            } else {
                elog.classList.add("hidden");
            }
        }
    </script>

{% endblock %}
