{% extends 'base.html' %}
{% set active_page = "index" %}
{% block content %}
    <h1 class="nondoc">Introduction</h1>
    <div class="txtbox">
        <p>
            <a href="{{ url_for('.examples_fil', filename='Standard-fmt-SRCCL.xlsx') }}" class="btn btn-right">
                <svg class="btn-icon" aria-hidden="true">
                    <use href="{{ url_for('static', filename='icons.svg') }}#download"></use>
                </svg>
                SRCCL example
            </a>
            The purpose of this application is to (re)produce burning ember diagrams
            of the style used in IPCC reports. It is quick and easy to use. The code is open-source
            (<a href="{{ url_for('sitenav.more') }}">more information</a>).
            The data to be shown as 'burning ember' has to be provided through specifically formatted
            Excel sheets, in line with practice in IPCC reports.
        </p>
        <p>
            Examples and information on the input format are provided in
            the <a href="{{ url_for('.doc',subpage='tutorial') }}">Tutorial</a>.
            As a starting point, you may download the
            '<a href="{{ url_for('.examples_fil', filename='Standard-fmt-SRCCL.xlsx') }}">SRCCL example</a>'.
            It is based on tables published in the supplementary
            material of IPCC's <a href="https://www.ipcc.ch/srccl/download/">Special Report on Climate Change and
            Land</a>
            (SRCCL).
        </p>
        <p>
            Examples can be used to test the application and as templates to provide your own data. To make graphs,
            follow the simple procedure below.
        </p>
        <p>
            Feedback is welcome, including about possible additional features and layout or other issues that you may
            experience.
        </p>
    </div>
    <h1 class="nondoc">Ember graph production</h1>
    <form enctype="multipart/form-data" id="fileUpload" action="{{ url_for('control.process') }}" method="post">
        <fieldset class="noaround">
            <div class="txtbox">
                <p style="margin-top: 0">To start, upload your data here (first select the file, then upload and
                    process with the second button below):</p>
                <div>
                    <input type="file" name="file" accept=".xls,.xlsx" id="fileElem" style="display:none"
                           onchange="fileShow(this.files)">
                    <a href="#" id="fileSelect" class="btn center" style="width: 335px; max-width: 72vw; margin-bottom: 0.6rem;">Select file</a>
                    <div id="fileName" class="center" style="margin-top: 7px;"></div>
                </div>
            </div>
            <div class="txtbox">
                <p style="margin-top: 0; margin-bottom:2px">Ember colours: </p>
                <div class="switches">
                    <div><input id="standard" name="csys" type="radio" value="standard" {{ settings.checked_standard }}>
                        <label for="standard">
                            Standard choice (palette selection from your input file if available,
                            otherwise RGB from IPCC SRCCL fig. 7.2)</label>
                    </div>
                    <div><input id="RGB" name="csys" type="radio" value="RGB" {{ settings.checked_rgb }}>
                        <label for="RGB">
                            RGB (best choice at least with some PDF viewers; colours from IPCC SRCCL fig. 7.2)</label>
                    </div>
                    <div><input id="CMYK" name="csys" type="radio" value="CMYK" {{ settings.checked_cmyk }}>
                        <label for="CMYK">
                            CMYK (a default profile that once was in IPCC guidelines; not used in screen preview or
                            SVG files)</label>
                    </div>
                </div>
                <div class="switches">
                    <input type="checkbox" id="delfile" name="delfile" checked="checked" value="1">
                    <label for="delfile" class="check">Delete my input file and graphics from the server after use
                        (uncheck if you want to give the app maintainers access to your work, to
                        potentially improve the Ember Factory; nothing would be public;
                        if you leave it checked, your data and graphics will be deleted 2 hours after
                        processing)</label>
                </div>
            </div>
            <div class="txtbox">
                Click here to process your file:
                <div class="center"><input class="btn" type="submit" value="Upload and produce ember diagram"
                                           style="width: 350px; max-width: 75vw;">
                </div>
                <p>
                    Thanks for your visit!
                </p>
            </div>
        </fieldset>
    </form>

    <script>
        // https://developer.mozilla.org/en/docs/Web/API/File_API/Using_files_from_web_applications
        const fileSelect = document.getElementById("fileSelect"),
            fileElem = document.getElementById("fileElem");

        fileSelect.addEventListener("click", function () {
            if (fileElem) {
                fileElem.click();
            }
        }, false);

        function fileShow(files) {
            const fileName = document.getElementById("fileName");
            fileSelect.classList.add("selected");
            fileName.textContent = `Selected file: ${files[0].name}`;
        }
    </script>
{% endblock %}
